@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (ViewBag.Markers != "[];")
    {
        <div class="card col-lg-12" style="width:100%;">
            <div class="card-header">
                <strong>Todas Ocorrências</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <div id="dvMap" style="width: 100%; height: 550px">
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-lg-12" style="width:100%;">
            <div class="card-header">
                <strong>Principais Ocorrências</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead style="background:#4272d7;">
                            <tr>
                                <th>Data</th>
                                <th>Categoria</th>
                                <th>Endereço</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < 3; i++)
                        {
                            BusinessLogicalLayer.OcorrenciaBLL ocorrenciaBLL = new BusinessLogicalLayer.OcorrenciaBLL();
                            BusinessLogicalLayer.CategoriaBLL categoriaBLL = new BusinessLogicalLayer.CategoriaBLL();
                            var oc = ocorrenciaBLL.LerPrincipaisOcorrencias();
                            if ((i+1) <= oc.Count)
                            {
                                Domain.Categoria categoria = categoriaBLL.GetByID(oc[i]);
                                <tbody>
                                    <tr>
                                        <td>@oc[i].DataCadastro.ToString()</td>
                                        <td>@categoria.Nome</td>
                                        <td>@oc[i].Endereco</td>
                                        <td>@oc[i].Descricao </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="card col-lg-12" style="width:100%;">
            <div class="card-header">
                <strong>Ocorrências Recentes</strong>
            </div>
            <div class="card-body card-block">
                <div class="form-group table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead style="background:#4272d7;">
                            <tr>
                                <th>Data</th>
                                <th>Categoria</th>
                                <th>Endereço</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < 3; i++)
                        {
                            BusinessLogicalLayer.OcorrenciaBLL ocorrenciaBLL = new BusinessLogicalLayer.OcorrenciaBLL();
                            BusinessLogicalLayer.CategoriaBLL categoriaBLL = new BusinessLogicalLayer.CategoriaBLL();
                            var oc = ocorrenciaBLL.LerMaisRecentes();
                            if ((i+1) <= oc.Count)
                            {
                                Domain.Categoria categoria = categoriaBLL.GetByID(oc[i]);
                                <tbody>
                                    <tr>
                                        <td>@oc[i].DataCadastro.ToString()</td>
                                        <td>@categoria.Nome</td>
                                        <td>@oc[i].Endereco</td>
                                        <td>@oc[i].Descricao </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</body>
</html>

@section scripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC_FC_GMBKSepZusci_BgPRKz1vANdFXs&callback=initMap"></script>
    <script type="text/javascript">
        var markers = @Html.Raw(ViewBag.Markers);
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>
}